<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451294597216-3t6tbvpbo1d4mdel8k2b7ijh5trjtfhi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451294597216-3t6tbvpbo1d4mdel8k2b7ijh5trjtfhi</string>
	<key>API_KEY</key>
	<string>AIzaSyDI67d-zN03E4k0zwsgD6nRfhOhJ00YfFU</string>
	<key>GCM_SENDER_ID</key>
	<string>451294597216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eLearningApp</string>
	<key>PROJECT_ID</key>
	<string>math-lessons-d14f1</string>
	<key>STORAGE_BUCKET</key>
	<string>math-lessons-d14f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451294597216:ios:fe67783e9352dc09aeb305</string>
</dict>
</plist>